Web References/localhost/ServiceBMISizq.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSizeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSizeSoapIn">
    <wsdl:part name="parameters" element="tns:GetSize" />
  </wsdl:message>
  <wsdl:message name="GetSizeSoapOut">
    <wsdl:part name="parameters" element="tns:GetSizeResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceBMISizqSoap">
    <wsdl:operation name="GetSize">
      <wsdl:input message="tns:GetSizeSoapIn" />
      <wsdl:output message="tns:GetSizeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceBMISizqSoap" type="tns:ServiceBMISizqSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSize">
      <soap:operation soapAction="http://tempuri.org/GetSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceBMISizqSoap12" type="tns:ServiceBMISizqSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSize">
      <soap12:operation soapAction="http://tempuri.org/GetSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBMISizq">
    <wsdl:port name="ServiceBMISizqSoap" binding="tns:ServiceBMISizqSoap">
      <soap:address location="http://localhost:32462/ServiceBMISizq.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceBMISizqSoap12" binding="tns:ServiceBMISizqSoap12">
      <soap12:address location="http://localhost:32462/ServiceBMISizq.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>